fastapi[standard]==0.116.1
uvicorn[standard]==0.35.0
pandas==2.3.2
numpy==2.3.2
joblib==1.5.1
xgboost==3.0.4
scikit-learn==1.7.1
shap==0.48.0
matplotlib
seaborn
selenium
beautifulsoup4
arabic-reshaper==3.0.0
python-bidi
scipy
